<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Stream payments</title>
        <script charset="utf-8">
            const listPayments = []
            const source = new EventSource(
                "http://localhost:8081/api/payments/stream"
            );
            source.addEventListener("message", (event) => {
                listPayments.push(event.data);
                document.getElementById("sse").innerHTML = listPayments.reduce(
                    (acc, payment) => `<li>${payment}</li>${acc}`, ''
                );
            });
        </script>
    </head>
    <body>
        <h1>test sse</h1>
        <div>
            <ul id="sse"></ul>
        </div>
    </body>
</html>
